# Ignore all `.env` files in the project
**/*.env
**/*.env.local

# Ignore all log files
**/*.log

# Ignore all cache files
**/__pycache__/
**/*.pyc

# Ignore all PEM files
*.pem

# Coverage
.coverage
htmlcov/
coverage.xml
